body {
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

section {
    background-color: rgb(250, 195, 195);
    display: inline-block;
    position: relative;
    top: -32px;
    padding: 30px;

}

main {
    background-color: rgb(227, 233, 233);
    padding: 30px;
    position: relative;
    bottom: 1200px;
    left: 345px;
    width: 75%;
}

header {
    background-color: #0f0e0e;

}

h1 {
    font-size: 2em;
    top: 50px;
}

p,
h2,
h3,
span {
    font-size: 2em;
}

span.project {
    font-size: 1em;
    font-weight: bold;
}

header p,
h1,
header h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    position: relative;
    top: -150px;

}

header p {
    line-height: 0.60em;
}

header h2.design,
header h1 {
    font-size: 3em;

}

img.shyamm {
    position: relative;
    top: 150px;
    left: 100px;
    border-radius: 100px;
    max-width: 35%;

}

img.gmail {
    position: absolute;
    top: 150px;
    right: 550px;
}